.containerInfo {
	width: 100%;
	h3 {
		color: rgb(255, 255, 255);
		font-size: 16px;
		font-weight: 800;
		line-height: 21px;
	}
	p {
		color: rgb(167, 170, 183);
		font-size: 14px;
		font-weight: 500;
		line-height: 18px;
		margin: 4px 20px 0 0;
	}

	form {
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 12px;
		align-items: start;
		margin-top: 20px;

		.input {
			width: 100%;
			input {
				border-radius: 12px;
				background: rgb(38, 40, 50);
			}
		}

		button {
			margin-top: 10px;
		}
	}
}
