.chat {
	padding: 12px;
	background: rgb(31, 33, 44);
	max-width: 26rem;
	opacity: 1;
	overflow: hidden;
	transition: max-width 0.3s ease, opacity 0.3s ease-in-out,
		transform 0.3s ease-in-out;
	transform: translateX(0);
	z-index: 999999999;

	&.closed {
		max-width: 0;
		opacity: 0;
		transform: translateX(-100%);
		pointer-events: none;
	}

	&.open {
		min-width: 320px;
	}

	&.closed {
		transform: translateX(100%);
		opacity: 0;
		pointer-events: none;
	}

	.title {
		display: flex;
		align-items: center;
		justify-content: space-between;

		h3 {
			display: flex;
			align-items: center;
			gap: 8px;
			color: rgb(255, 255, 255);
			font-size: 16px;
			font-weight: 700;
			line-height: 21px;
		}

		button {
			background-color: rgb(48, 50, 61);
		}
	}

	.onlineChat {
		display: flex;
		flex-direction: column;
		gap: 8px;
		height: 500px;
		overflow-y: scroll;
		margin-top: 12px;
		margin-bottom: 10px;

		&::-webkit-scrollbar {
			width: 0;
		}
	}
	@media (max-width: 1280px) {
		position: fixed;
		right: 0;
		width: 320px;
	}
	@media (max-width: 600px) {
		.chat {
			.onlineChat {
				height: 450px;
			}
		}
	}
	@media (max-width: 425px) {
		position: fixed;
		left: 50%;
		transform: translate(-50%);
		width: 95%;
		border-radius: 12px;
		height: 90vh;
		overflow-y: auto;
		max-height: 90vh;

		&::-webkit-scrollbar{
			width: 0;
		}

		.onlineChat {
			height: calc(90vh - 150px);
		}
	}
}

.scrollToBottomButton {
	position: fixed;
	bottom: 110px;
	right: 20px;
	background-color: rgb(51 53 60);
	border-radius: 50%;
	width: 24px;
	height: 24px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	transition: opacity 0.3s ease, transform 0.3s ease;
	cursor: pointer;

	img {
		transform: rotate(180deg);
		filter: brightness(0.7) saturate(0.5) hue-rotate(200deg) grayscale(0.8)
			sepia(0.2);
	}

	&:hover {
		opacity: 0.9;
		transform: scale(1.2);
	}
}
