.table {
	width: 100%;
	border-radius: 16px;
	margin-top: 8px;
	overflow-x: scroll;
	white-space: nowrap;

	&::-webkit-scrollbar {
		width: 0;
		height: 1px;
	}

	@media (max-width: 768px) {
		margin-top: 0;
		overflow: scroll;

		&::-webkit-scrollbar {
			width: 0;
		}
	}
}

.tableMobile {
	display: none;
	flex-direction: column;
	gap: 12px;

	.gameMobile {
		display: flex;
		align-items: center;
		gap: 8px;

		img {
			width: 20px;
			height: 20px;
			border-radius: 4px;
		}

		span {
			color: rgb(255, 255, 255);
			font-size: 14px;
			font-weight: 500;
			line-height: 18px;
		}
	}

	.tableModileRe {
		display: flex;
		flex-direction: column;
		gap: 8px;
		padding: 8px;
		border-radius: 8px;
		background: rgb(31, 33, 44);
	}

	.tableHeader {
		display: flex;
		justify-content: space-between;
		max-width: 165px;

		.tableHeaderCell {
			flex: 1;
			padding: 8px;
			text-align: center;
			min-width: 50px;

			span {
				color: rgb(116, 119, 131);
				font-size: 12px;
				font-weight: 800;
				line-height: 16px;
			}
		}
	}

	.tableBody {
		width: 100%;
	}

	.tableRow {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	.tableValueTeamMobile {
		display: flex;
		flex-direction: column;
		gap: 12px;

		.timeMobile {
			display: flex;
			align-items: center;
			gap: 8px;

			span {
				color: rgb(255, 255, 255);
				font-size: 14px;
				font-weight: 500;
				line-height: 18px;
			}

			b {
				color: rgb(116, 119, 131);
				font-size: 12px;
				font-weight: 500;
				line-height: 18px;
			}
		}

		.againstWhomMobile {
			display: flex;
			align-items: center;
			gap: 12px;
			justify-content: center;

			.vs {
				padding: 4px 6px;
				border-radius: 25px;
				background: rgba(158, 217, 39, 0.15);
				color: rgb(255, 255, 255);
				font-size: 12px;
				font-weight: 500;
				line-height: 18px;
			}

			.teamMobile {
				display: flex;
				align-items: center;
				gap: 8px;

				span {
					color: rgb(255, 255, 255);
					font-size: 12px;
					font-weight: 600;
					line-height: 15px;
				}

				img {
					width: 19px;
					height: 21px;
				}
			}
		}
	}

	.tableBodyMobile {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.tableRowLeftMobile {
		display: flex;
		gap: 12px;
	}

	.tableValueMobile,
	.mobileResult {
		padding: 8px;
		border-radius: 8px;
		background: rgb(25, 27, 37);

		span {
			color: rgb(255, 255, 255);
			font-size: 14px;
			font-weight: 500;
			line-height: 18px;
		}
	}

	.mobileResult {
		background-color: transparent !important;
	}

	.tableValueBtnMobile {
		border: 1px solid rgb(48, 50, 61);
		border-radius: 8px;
		background: rgb(38, 40, 50);
		padding: 12px 18px;

		span {
			color: rgb(255, 255, 255);
			font-size: 14px;
			font-weight: 500;
			line-height: 18px;
		}
	}
}

@media (max-width: 500px) {
	.tableMobile {
		display: flex;
	}
}

@media (max-width: 1024px) {
	.table {
		th,
		td {
			&:nth-child(5),
			&:nth-child(6),
			&:nth-child(7) {
				display: none;
			}
		}
	}
}
@media (max-width: 500px) {
	.table {
		display: none;
	}
	.tableModile {
		display: flex;
	}
}
