.home {
	width: 100%;
	padding: 20px;

	@media (max-width: 1280px) {
		width: 100%;
	}

	.creatingBanner {
		display: flex;
		flex-direction: column;
		gap: 10px;

		button {
			text-transform: uppercase;
		}
	}

	.games {
		display: flex;
		flex-direction: column;
		margin-top: 20px;

		h3 {
			display: flex;
			align-items: center;
			gap: 8px;
			color: rgb(193, 195, 209);
			font-size: 16px;
			font-weight: 600;
			line-height: 21px;
		}
	}

	.bannerBlock {
		height: 375px;

		img {
			right: -19rem;
			bottom: -29rem;
			width: 84rem;
		}

		h1 {
			font-family: 'Reload', sans-serif;
			text-transform: uppercase;
			width: 480px;

			@media (max-width: 600px) {
				width: 290px;
				font-size: 32px;
			}
		}

		@media (max-width: 1440px) {
			img {
				right: -19rem;
				bottom: -22rem;
				width: 66rem;
				height: 50rem;
			}
		}
		@media (max-width: 600px) {
			img {
				right: -18rem;
				bottom: -22rem;
				width: 60rem;
				height: 50rem;
			}
		}
	}

	.banner {
		display: flex;
		gap: 16px;
		overflow: scroll;

		&::-webkit-scrollbar {
			width: 0;
			height: 1px;
		}
	}

	.table {
		margin-top: 20px;
		.header {
			display: flex;
			align-items: center;
			justify-content: space-between;

			h3 {
				display: flex;
				align-items: center;
				gap: 8px;
				color: rgb(167, 170, 183);
				font-size: 16px;
				font-weight: 600;
				line-height: 20px;
			}
		}

		.tables {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 8px;
			margin-top: 16px;
			white-space: nowrap;
			overflow-x: scroll;

			&::-webkit-scrollbar {
				width: 0;
				height: 1px;
			}

			.tableRow {
				display: flex;
				justify-content: space-between;

				.cell {
					flex: 1;
					margin-bottom: 10px;
					min-width: 160px;

					span {
						color: rgb(116, 119, 131);
						font-size: 14px;
						font-weight: 700;
						line-height: 18px;
						text-align: left;
					}
				}
			}
		}

		@media (max-width: 1024px) {
			.header {
				flex-wrap: wrap;
				gap: 12px;
			}

			.tables {
				.tableRow,
				.row {
					.cell {
						&:nth-child(3) {
							display: none;
						}
					}
				}
			}
		}
		@media (max-width: 600px) {
			.tables {
				.tableRow,
				.row {
					.cell {
						h4 {
							display: none;
						}
						min-width: auto;

						&:nth-child(5) {
							min-width: auto;
						}
					}
				}
			}
		}
	}
}
