.slots {
	width: 100%;
	padding: 20px;

	@media (max-width: 1280px) {
		width: 100%;
	}

	h2 {
		display: flex;
		align-items: center;
		gap: 8px;
		color: rgb(255, 255, 255);
		font-size: 28px;
		font-weight: 800;
		line-height: 36px;
		margin-top: 12px;
	}

	.search {
		margin-top: 12px;
	}

	.sort {
		margin-top: 12px;
		overflow-x: scroll;

		&::-webkit-scrollbar {
			width: 0;
			height: 1px;
		}

		ul {
			display: flex;
			li {
				padding: 8px 12px;
				cursor: pointer;
				color: rgb(116, 119, 131);
				font-size: 15px;
				font-weight: 600;
				line-height: 20px;
				list-style: none;
				border-radius: 8px;

				&:nth-child(1) {
					color: white;
					background: rgba(158, 217, 39, 0.1);
				}
			}
		}
	}
}
