.auth {
	.form {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	.tabs {
		ul {
			width: 100%;
			text-align: center;
		}
	}

	a {
		color: rgb(158, 217, 39);
		font-size: 15px;
		font-weight: 600;
		line-height: 20px;
		text-decoration: none;
	}

	p {
		color: rgb(116, 119, 131);
		font-size: 15px;
		font-weight: 600;
		line-height: 20px;

		span {
			color: rgb(158, 217, 39);
		}
	}

	span {
		color: rgb(116, 119, 131);
		font-size: 14px;
		font-weight: 500;
		line-height: 18px;
		text-align: center;
	}

	.btns {
		display: flex;
		align-items: center;
		gap: 6px;

		button {
			width: 100%;

			img {
				width: 16px;
				height: 15.5px;
			}
		}
	}

	.checked {
		display: flex;
		align-items: start;
		gap: 8px;

		button {
			padding: 7px;
		}

		p {
			color: rgb(167, 170, 183);
			font-size: 15px;
			font-weight: 600;
			line-height: 20px;
		}
	}

	@media (max-width: 768px) {
		.form {
			gap: 8px;
		}
	}
}
